[submodule "dotsync"]
	path = dotsync
	url = git@github.com:dotphiles/dotsync.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "mshell/zsh/plugins/fast-syntax-highlighting"]
	path = mshell/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "mshell/zsh/themes/powerlevel9k"]
	path = mshell/zsh/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
